{% extends '::base.html.twig' %}
{% block title %}
    Page d'accueil
{% endblock %}
{% block body -%}
    <div classe="container">
        <div classe="row">
            <header class="col-md-12">
                <h2>INSCRIPTION AUX TRANSPORTS SCOLAIRES</h2>
            </header>
            <div class="col-md-12">
                <p>Vous inscrivez votre ou vos enfants pour la première fois, cliquez sur NOUVELLE DEMANDE ci-dessous.
                </p><br>
                <p>Votre ou vos enfants possèdent déjà une carte de transport de la Communauté de Commune, cliquez sur JE M'IDENTIFIE ci-dessous.</p>
            </div>

            <form role="form" class="col-md-4 col-md-offset-2" id="newask">
                <h4>NOUVELLE DEMANDE<br> ANNEE SCOLAIRE 2014-2015</h4>
                <br>
                <p>Merci de saisir le nom, le prénom et la date de naissance de votre enfant : </p>
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" placeholder="Indiquez le nom de votre enfant">
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" class="form-control" id="prenom" placeholder="Indiquez le prénom de votre enfant">
                </div>
                <div class="form-group">
                    <label for="date">Date de naissance</label>
                    <input type="date" class="form-control" id="date" placeholder="Indiquez la date de naissance de votre enfant">
                </div>
                <button type="submit" class="btn btn-default">Envoyer</button>
            </form>
            <form role="form" class="col-md-4" id="connexion" action="{{ path('connexion') }}" method="post" {{ form_enctype(form) }}>
                <h4>JE M'IDENTIFIE</h4>

                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}
                {{ form_enctype(form) }}

                <div class="form-group">
                    {{ form_label(form.username, "Identifiant", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.username) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.password, "Mots de Passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                    {{ form_errors(form.password) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                <button  type="submit" class="btn btn-default">Envoyer</button>
            </form>
        </div>
    </div>
{% endblock %}