{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Inscription</h1>

    <div class="well">
        {{ form_enctype(form) }}
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

        {{ form_errors(form) }}
        <div class="form-group">

            {{ form_label(form.email, "Adresse Email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

            {{ form_errors(form.email) }}
            <div class="col-sm-4">

                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>



            <div class="col-sm-4">
                <button type="submit">Create</button>
           </div>
    </div>


        <ul class="record_actions">
    <li>
        <a href="{{ path('user') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}